@page "/Movies"
@using SEP6.Data.Movies;
@using SEP6.Models;
@inject IMovieService MovieService

<h3>Movies</h3>
<input type="text" @bind="UserInput" />
<p>You entered: @UserInput</p>
<button @onclick="SubmitForm">Submit</button>

<MudText>@someMovie.title</MudText>
<MudGrid>
    <MudItem xs="2">

    </MudItem>
    <MudItem xs="2">
        <MudCard>
            <MudCardMedia Image="https://prod.cdn.bbaws.net/TDC_Blockbuster_-_Production/41/856/EG-16002_po-reg-medium_orig-1571302574988.jpg" Height="240" />
            <MudCardContent>
                <MudText Typo="Typo.h6">Midsommar</MudText>
            </MudCardContent>
            @*<MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>*@
        </MudCard>
    </MudItem>
</MudGrid>


@code {
    private List<Movie> someMovies = new List<Movie>();
    private Movie someMovie = new Movie();

    private ListOfMovies oneMovie = new ListOfMovies();
    private int movieId = 15;
    public string UserInput { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        someMovie = await GetMovie(movieId);
    }

    private async Task<Movie> GetMovie(int id)
    {
        var result = await MovieService.GetMovieByID(id);
        return result;
    }
    private async Task<ListOfMovies> SearchMovie(int page, string title)
    {
        var result = await MovieService.GetMoviesBySearch(page, title);
        return result;
    }

    private async Task SubmitForm()
    {
        oneMovie = await SearchMovie(1, UserInput);
        StateHasChanged();
    }

}
