@page "/Movies"
@using SEP6.Data.Movies;
@using SEP6.Models;
@inject IMovieService MovieService

<h3>Movies</h3>
<input type="text" @bind="UserInput" />
<p>You entered: @UserInput</p>
<button @onclick="SubmitForm">Submit</button>


@if(@oneMovie.Movies != null)
{
    <MudText>@oneMovie.Movies.Count</MudText>
}


@code {
    private List<Movie> someMovies = new List<Movie>();
    private Movie someMovie = new Movie();

    private ListOfMovies oneMovie = new ListOfMovies();
    private int movieId = 15;
    public string UserInput { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        someMovie = await GetMovie(movieId);
    }

    private async Task<Movie> GetMovie(int id)
    {
        var result = await MovieService.GetMovieByID(id);
        return result;
    }
    private async Task<ListOfMovies> SearchMovie(int page, string title)
    {
        var result = await MovieService.GetMoviesBySearch(page, title);
        return result;
    }

    private async Task SubmitForm()
    {
        oneMovie = await SearchMovie(1, UserInput);
        StateHasChanged();
    }

}
